root = "."
testdata_dir = "testdata"
tmp_dir = "tmp"

[build]
args_bin = ["serve", "--http-interface=:8080"]
bin = "./tmp/main"
cmd = "go build -o ./tmp/main razsh.go"
delay = 1000
exclude_dir = ["assets", "tmp", "vendor", ".git"]
exclude_file = []
exclude_regex = ["_test.go"]
exclude_unchanged = false
follow_symlink = false
full_bin = ""
include_dir = []
include_ext = ["go", "tpl", "tmpl", "html", "css", "js"]
kill_delay = "0s"
log = "build-errors.log"
rerun = false
rerun_delay = 500
send_interrupt = false
stop_on_error = false

[color]
app = ""
build = "yellow"
main = "magenta"
runner = "green"
watcher = "cyan"

[log]
date = false
time = false
main_only = false

[misc]
clean_on_exit = false

[screen]
clear_on_rebuild = false
keep_scroll = true
