@import "dark-mode.css";
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');*/



:root {

    --solarized-base03: #002b36;
    --solarized-base02: #073642;
    --solarized-base01: #586e75;
    --solarized-base00: #657b83;
    --solarized-base0: #839496;
    --solarized-base1: #c6bda3;
    --solarized-base2: #eee8d5;
    --solarized-base3: #fdf6e3;

    --solarized-yellow: #b58900;
    --solarized-orange: #cb4b16;
    --solarized-red: #dc322f;
    --solarized-magenta: #d33682;
    --solarized-violet: #6c71c4;
    --solarized-blue: #268bd2;
    --solarized-cyan: #2aa198;

    /*!*--solarized-green: #859900; The real green*/
    --solarized-green: #229300;

    --theme-100: var(--solarized-base3);
    --theme-200: var(--solarized-base2);
    --theme-300: var(--solarized-base1);
    --theme-400: var(--solarized-base0);
    --theme-500: var(--solarized-base00);
    --theme-600: var(--solarized-base01);
    --theme-700: var(--solarized-base02);
    --theme-800: var(--solarized-base03);

    --yellow: var(--solarized-yellow);
    --orange: var(--solarized-orange);
    --red: var(--solarized-red);
    --magenta: var(--solarized-magenta);
    --violet: var(--solarized-violet);
    --blue: var(--solarized-blue);
    --cyan: var(--solarized-cyan);
    --green: var(--solarized-green);

    --bg-0: var(--theme-100);
    --bg-1: var(--theme-200);
    --bg-2: var(--theme-300);
    --fg-0: var(--theme-400);
    --fg-1: var(--theme-500);
    --fg-2: var(--theme-600);
    --fg-3: var(--theme-700);



}

/* Dyslexic / reading friendly */
body {
    --weight-normal: 300;
    --weight-bold: 500;
    --weight-bolder: 700;
    font-family: "Lexend", sans-serif;
    font-weight: var(--weight-normal);
    font-size: 1.2rem;
    line-height: 1.6em;
    letter-spacing: 0.06em;
    word-spacing: 0.1em;
}


body.dark {
    --bg-0: var(--theme-700);
    --bg-1: var(--theme-800);
    --bg-2: var(--theme-600);
    --fg-0: var(--theme-400);
    --fg-1: var(--theme-300);
    --fg-2: var(--theme-200);
    --fg-3: var(--theme-100);

    --shadow-color: black;

    .social img {
        filter: invert(75%);
    }

    blockquote {
        background-color: var(--bg-0);
    }

}

body {
    background-color: var(--bg-1);
    color: var(--fg-2);
    margin: 0;
    padding: 0;



    --shadow-color: var(--theme-800);
    --border-color: black;
    --shadow-z0: 2px 2px var(--shadow-color);
    --shadow-z1: 4px 4px var(--shadow-color);
    --shadow-z2: 8px 8px var(--shadow-color);

}


h1, h2, h3, h4, h5, h6 {
    /*font-weight: bold;*/
    font-weight: var(--weight-bold);
    margin: 3rem 0 2rem;
    padding: 10px;
    color: var(--green);
    border: 2px var(--border-color) solid;
    box-shadow: var(--shadow-z1);
    background: var(--bg-0);
}

h1 {
    margin-top: 1rem;
    padding-top: 1rem;

}

h1:after {
    content: "===========================================================================================";
    display: block;
    font-family: monospace;
    white-space: pre;
    font-weight: normal;
    padding: 0.5rem 0 0;
    overflow: hidden;
}

h2:before {
    content: "# ";
    display: inline-block;
    font-family: monospace;
    white-space: pre;
}

h3:before {
    content: "## ";
    display: inline-block;
    font-family: monospace;
    white-space: pre;
}

h4:before {
    content: "### ";
    display: inline-block;
    font-family: monospace;
    white-space: pre;
}

h5:before {
    content: "#### ";
    display: inline-block;
    font-family: monospace;
    white-space: pre;
}

.title {
    color: var(--green);
    font-size: 3rem;
    font-weight: var(--weight-bold);
}

.title a {
    color: var(--green);
    border-bottom: 2px solid var(--green);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0.2rem auto 0;
    padding: 20px;
    border: 3px black solid;
    box-shadow: var(--shadow-z2);
    background: var(--bg-0);

    a, a:hover {
        border-bottom: none;
    }

}

.settings {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    /*height: 2rem;*/
    padding: 0.2rem 0.4rem;
}

p {
    margin: 2rem 0 0;
    padding: 0;
    color: var(--fg-3);
}

blockquote {
    > :first-child {
        margin-top: 0;
    }

    padding: 2rem 1rem 2rem;
    margin: 1rem 0;
    border-left: 1rem solid var(--red);
    background-color: var(--bg-2);
    box-shadow: var(--shadow-z1);
    color: var(--fg-2);
}


ul.index {
    font-size: 1.5rem;

    li {
        padding: 0.4rem 0
    }
}

ul {
    list-style-type: "\203A  ";
}

ul, ol {
    margin: 10px 0;
    padding-left: 20px;
    color: var(--fg-3);
}

li {
    padding: 0.2rem 0
}

li > p {
    margin: 0;
}


.content {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}


.social {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

    a {
        &:hover {
            border: none;
            background: none;
        }

        border: none;
        line-height: 0;
    }

    div {
        line-height: 0;
        padding: 0 2px;
    }

    img {
        width: 1.8rem;
        border: none;
        margin: 0;
        box-shadow: none;
    }


}

a {
    color: var(--red);
    text-decoration: none;
    border-bottom: 2px solid var(--red);
    word-break: break-word;
}

a:hover {
    background-color: var(--green);
    border-bottom: 2px solid var(--fg-3);
    color: var(--fg-3);
}

code {
    font-size: 1.1rem;
    background-color: var(--bg-0);
    padding: 4px;
    border: 1px solid black;
    box-shadow: var(--shadow-z0);
    display: inline-block;
    line-height: 1.2rem;
    white-space: pre;
    overflow-x: clip;
    max-width: 100%;
}

pre code {
    border: none;
    box-shadow: none;
    white-space: pre;
    line-height: 1.3em;
}

pre {
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #000000;
    overflow-x: auto;
    box-shadow: var(--shadow-z1);
}


img {
    max-width: 95%;
    height: auto;
    border: 3px solid #000000;
    box-shadow: var(--shadow-z1);
    margin-right: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: var(--shadow-z1);
}

th, td {
    border: 2px solid #ff0000;
    padding: 10px;
    text-align: left;
    background-color: var(--bg-0);
}

hr {
    border: 0;
    height: 4px;
    background: var(--green);
    margin: 2rem 0;
    box-shadow: var(--shadow-z0);
}

nav {
    background: var(--bg-0);
    padding: 1rem;
    margin: 2rem 0;
    border: 2px black solid;
}

nav > ul:before {
    content: "TOC";
    font-weight: bold;
    font-size: 3rem;
}

nav > ul > li > ul > li > ul {
    display: none;
}

nav > ul {
    list-style: none;
}


ul, ol, p, blockquote, nav, pre {
    margin-right: 1rem;
    margin-left: 1rem;
}


.cover-image {
    width: 100%;
    height: 25rem;
    max-height: 33vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;

    border: 3px var(--border-color) solid;
    box-shadow: var(--shadow-z1);

}