/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #fffcf2;
    color: #000000;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-size: 1.2rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin: 1rem 0 0.5rem;
    padding: 10px;
    color: #5d9f5b;
    border:  2px black solid;
    box-shadow: 4px 4px black;
    background: white;
}

h1{
    margin-top: 3rem;

}
h1:before{
    content: "> ";
    display: inline-block;
    font-family: monospace;
    white-space: pre;
}
h2:before{
    content: "# ";
    display: inline-block;
    font-family: monospace;
    white-space: pre;
}
h3:before{
    content: "## ";
    display: inline-block;
    font-family: monospace;
    white-space: pre;
}
h4:before{
    content: "### ";
    display: inline-block;
    font-family: monospace;
    white-space: pre;
}
h5:before{
    content: "#### ";
    display: inline-block;
    font-family: monospace;
    white-space: pre;
}

h2{
    margin-top: 2.5rem;
}
h3{
    margin-top: 1.5rem;
}

p {
    margin: 10px 0;
    color: #323232;
}

.content {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.title a {
    color: #5d9f5b;
    border-bottom: 2px solid #5d9f5b;
}

.title{
    max-width: 1000px;
    margin: 30px auto;
    padding: 20px;
    color: #5d9f5b;
    border:  3px black solid;
    box-shadow: 10px 10px black;
    font-size: 3rem;
    background: white;
    font-weight: bold;
}

/* Neobrutalism Styles */
a {
    color: #ff0000;
    text-decoration: none;
    border-bottom: 2px solid #ff0000;
}

a:hover {
    background-color: #5d9f5b;
    border-bottom: 2px solid #ffffff;
    color: #ffffff;
}

code {
    font-size: 1.1rem;
    background-color: #f4f4f4;
    padding: 2px 4px;
    border: 1px solid black;
    box-shadow: 3px 3px black;
    white-space: pre;
}

pre code{
    border: none;
    box-shadow: none;
}

pre {
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #e1e1e1;
    overflow-x: auto;
    ox-shadow: 5px 5px black;
}

blockquote {

    padding: 0.1rem 1rem;
    margin: 1rem 0;
    border-left: 1rem solid #ff0000;
    background-color: #cacaca;
    box-shadow: 4px 4px black;
}

ul, ol {
    margin: 10px 0;
    padding-left: 20px;
    color: #666666;
}

img {
    max-width: 100%;
    height: auto;
    border: 2px solid #ff0000;
    box-shadow: 5px 5px black;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 2px solid #ff0000;
    padding: 10px;
    text-align: left;
    background-color: #f9f9f9;
}

hr {
    border: 0;
    height: 7px;
    background: #ff0000;
    margin: 20px 0;
    box-shadow: 3px 3px black;
}

nav > ul > li > ul > li > ul{
    display: none;
}
nav > ul{
    list-style: none;
}
/*nav ul li ul li {*/
/*    display: none;*/
/*}*/