@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');*/

:root {

    --solarized-base03: #002b36;
    --solarized-base02: #073642;
    --solarized-base01: #586e75;
    --solarized-base00: #657b83;
    --solarized-base0: #839496;
    --solarized-base1: #93a1a1;
    --solarized-base2: #eee8d5;
    --solarized-base3: #fdf6e3;

    --solarized-yellow: #b58900;
    --solarized-orange: #cb4b16;
    --solarized-red: #dc322f;
    --solarized-magenta: #d33682;
    --solarized-violet: #6c71c4;
    --solarized-blue: #268bd2;
    --solarized-cyan: #2aa198;
    --solarized-green: #859900;

    --theme-100: var(--solarized-base3);
    --theme-200: var(--solarized-base2);
    --theme-300: var(--solarized-base1);
    --theme-400: var(--solarized-base0);
    --theme-500: var(--solarized-base00);
    --theme-600: var(--solarized-base01);
    --theme-700: var(--solarized-base02);
    --theme-800: var(--solarized-base03);

    --yellow:  var(--solarized-yellow);
    --orange:  var(--solarized-orange);
    --red:     var(--solarized-red);
    --magenta: var(--solarized-magenta);
    --violet:  var(--solarized-violet);
    --blue:    var(--solarized-blue);
    --cyan:    var(--solarized-cyan);
    --green:   var(--solarized-green);

    --bg-0: var(--theme-100);
    --bg-1: var(--theme-200);
    --bg-2: var(--theme-300);
    --fg-0: var(--theme-400);
    --fg-1: var(--theme-500);
    --fg-2: var(--theme-600);
    --fg-3: var(--theme-700);

    --shadow-z0: 2px 2px var(--theme-800);
    --shadow-z1: 4px 4px var(--theme-800);
    --shadow-z2: 8px 8px var(--theme-800);

}


body {
    font-family: "Open Sans", sans-serif;
    background-color: var(--bg-1);
    color: var(--fg-2);
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    /*Dyslexic friendly*/
    line-height: 2rem;
    letter-spacing: 0.05rem;

}


h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin: 3rem 0 2rem;
    padding: 10px;
    color: var(--green);
    border: 2px black solid;
    box-shadow: var(--shadow-z1);
    background: var(--bg-0);
}

h1 {
    margin-top: 1rem;

}

h1:before {
    content: "> ";
    display: inline-block;
    font-family: monospace;
    white-space: pre;
}

h2:before {
    content: "# ";
    display: inline-block;
    font-family: monospace;
    white-space: pre;
}

h3:before {
    content: "## ";
    display: inline-block;
    font-family: monospace;
    white-space: pre;
}

h4:before {
    content: "### ";
    display: inline-block;
    font-family: monospace;
    white-space: pre;
}

h5:before {
    content: "#### ";
    display: inline-block;
    font-family: monospace;
    white-space: pre;
}


.title a {
    color: var(--green);
    border-bottom: 2px solid var(--green);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 30px auto;
    padding: 20px;
    border: 3px black solid;
    box-shadow: var(--shadow-z2);
    background: var(--bg-0);
}

.title {
    color: var(--green);
    font-size: 3rem;
    font-weight: bold;
}



p {
    margin: 2rem 0;
    padding: 0;
    color: var(--fg-3);
}

blockquote {

    padding: 0.1rem 1rem;
    margin: 1rem 0;
    border-left: 1rem solid var(--red);
    background-color: var(--bg-2);
    box-shadow: var(--shadow-z1);
    color: var(--fg-2);
}


ul, ol {
    margin: 10px 0;
    padding-left: 20px;
    color: var(--fg-3);
}

li > p {
    margin-left: 0;
}


.content {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}




.social {
}

.social a {
    border: none;
}

.social a:hover {
    border: none;
    background: none;
}

.social img {
    width: 25px;
    height: 25px;
    border: none;
    margin: 0;
    box-shadow: none;
}

a {
    color: var(--red);
    text-decoration: none;
    border-bottom: 2px solid var(--red);
    word-break: auto-phrase;
}

a:hover {
    background-color: var(--green);
    border-bottom: 2px solid var(--fg-3);
    color: var(--fg-3);
}

code {
    font-size: 1.1rem;
    background-color: var(--bg-0);
    padding: 2px 4px;
    border: 1px solid black;
    box-shadow: var(--shadow-z0);
    white-space: pre-wrap;
}

pre code {
    border: none;
    box-shadow: none;
    white-space: pre;
}

pre {
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #000000;
    overflow-x: auto;
    box-shadow: var(--shadow-z1);
}


img {
    max-width: 95%;
    height: auto;
    border: 2px solid #5d9f5b;
    box-shadow: var(--shadow-z1);
    margin-right: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: var(--shadow-z1);
}

th, td {
    border: 2px solid #ff0000;
    padding: 10px;
    text-align: left;
    background-color: var(--bg-0);
}

hr {
    border: 0;
    height: 7px;
    background: var(--green);
    margin: 2rem 0;
    box-shadow: var(--shadow-z1);
}

nav {
    background: var(--bg-0);
    padding: 1rem;
    margin: 2rem 0;
    border: 2px black solid;
}

nav > ul:before {
    content: "TOC";
    font-weight: bold;
    font-size: 3rem;
}

nav > ul > li > ul > li > ul {
    display: none;
}

nav > ul {
    list-style: none;
}


ul, ol, p, blockquote, nav, pre {
    margin-right: 1rem;
    margin-left: 1rem;
}