<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta charset="UTF-8">
    <title>{{.Title}} - Raz Blog</title>
    <link rel="stylesheet" href="/assets/main.css">

    <meta property="og:title" content="{{.Title}} - Raz Blog">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://raz.sh/assets/img/blog-banner-5-small-2.jpg" />
    <meta name="twitter:image" content="https://raz.sh/assets/img/blog-banner-5-small-2.jpg" />
</head>
<body>


<div class="header">
    <div class="title">
        <a href="/">Raz Blog</a>
    </div>
    <div class="social">
        <div>
            <a href="https://x.com/c_r_holm" target="_blank"><img src="/assets/img/twitter.png" alt="twitter/x"/></a>
        </div>
        <div>
            <a href="https://github.com/crholm/raz.sh" target="_blank"><img src="/assets/img/github.png" alt="github"/></a>
        </div>
    </div>
</div>

<div class="content">
    <h1>{{.Title}}</h1>
    <p><small><em>Rasmus Holm  -  {{toDate .FileHeader.PublishDate}}</em></small></p>
    {{.Body}}
</div>


</body>
{{.GA}}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>

</html>