<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Raz Blog</title>
    <link rel="stylesheet" href="/assets/main.css">

    <meta property="og:image" content="/assets/blog-banner.webp" />
    <meta name="twitter:image" content="/assets/blog-banner.webp">
</head>
<body>





<div class="header">
    <div class="title">
        <a href="/">Raz Blog</a>
    </div>
    <div class="social">
        <div>
            <a href="https://x.com/c_r_holm" target="_blank"><img src="/assets/twitter.png" alt="twitter/x"/></a>
        </div>
        <div>
            <a href="https://github.com/crholm/raz.sh" target="_blank"><img src="/assets/github.png" alt="github"/></a>
        </div>
    </div>
</div>

<div class="content">

    {{ range .Items}}

        <ul style="font-size: 1.5rem">
            <li><a href="/blog/{{.Slug}}">{{toDate .PublishDate}} - {{.Title}}</a></li>
        </ul>
    {{end}}
</div>



</body>
{{.GA}}
</html>