<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/assets/main.css">
</head>
<body>




<div class="title">Raz Blog</div>
<div class="content">

    {{ range .Items}}

        <ul style="font-size: 1.5rem">
            <li><a href="/blog/{{.Slug}}">{{toDate .PublishDate}} - {{.Title}}</a></li>
        </ul>
    {{end}}
</div>


</body>
</html>