{{template "_main.html.tmpl" .}}
{{define "content"}}



   <small><em>Rasmus Holm  -  {{format_time .FileHeader.PublishDate "Mon, 02 Jan 2006"}}</em></small>

    <h1>{{.Title}}</h1>


    {{.Body}}


{{end}}