{{template "_main.html.tmpl" .}}
{{define "content"}}

   Rasmus Holm
   | CTO & Co-Founder of <a target="_blank" href="https://modularfinance.com">Modular Finance</a>
   | Software engineer | Sweden <br/>
   <em>Writing on tech, opinions & guides</em>
    <h1>Index</h1>
   <ul class="index">
    {{ range .}}
            <li><span style="width: 10ch; display: inline-block">{{format_time .PublishDate "2006-01-02"}}</span> <a href="/blog/{{.Slug}}">{{.Title}}</a></li>
    {{end}}
   </ul>
{{end}}